html {
    height: 100%;
    
}

body {
    height: 100%;
    background-color: #EE9A74;
    
}
a {
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    background-color: #FBC
    font-family: 'Lora', serif;
    border: 10px dotted #8A9189;
    margin: 15%;
    padding: 40px;
}S

.main {
    height: 100%;
    
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Spicy Rice', cursive;
    border: 15px solid #CCC7A4;
}